@font-face {
    font-family: vogue;
    src: url(fonts/CupheadVogue-Bold.otf);
}
@font-face {
    font-family: canyon;
    src: url(fonts/canyon.OTF);
}
@font-face {
    font-family: Freehand;
    src: url(fonts/freehand.TTF);
}

.body2 {
    /*filter: invert(100%);*/
    opacity: 0;
    transition: opacity 2s;
    background-image: url("images/background.png");
    background-size: cover;
}
