
p{	
	/*margin-left: 10%;*/
	margin-top: -5%;
	font-size: 200%;
	font-family: "vogue";
    text-align: center;
	color: white;
}

div{
	/*background-color: black;*/
    width: 25%;
}

.top{
	margin-top: 5%;
}

/* container */
.pprofil {
    position: absolute;
	top: 20%;
	left: 8%;

}
.pprofil2 {
    position: absolute;
	top: 20%;
	left: 38%;

}
.pprofil3 {
    position: absolute;
	top: 20%;
	left: 68%;
}
/* isi container */
.container{
	display: block;
	margin: auto;
	margin-top: 5%;
	width: 50%;
	border-radius: 5px;
	object-fit: cover;
	align-content: center;
	object-position: center;
	box-shadow: 10px 10px rgb(0 0 0 /0.1);
	
}