@font-face {
    font-family: Freehand;
    src: url(fonts/freehand.TTF);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/roboto.TTF);
}

body{
	background-image: url("images/background.png");
	background-size: cover;
}

div{
	width: 470px;
	height: 330px;
	background-color: #1A1919;
	border-radius: 15px;
	box-shadow: 10px 10px rgb(0 0 0 /0.8);
}

.container{
	display: block;
	margin: auto;
	margin-left: 55px;
	margin-top: 20px;
	width:  350px;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
	align-content:  center;
	object-position: center;
	box-shadow: 10px 10px rgb(0 0 0 /0.1);
}

.image1{
	position: absolute;
	top: 15%;
	left: 10%;
}

.image2{
	position: absolute;
	top: 15%;
	left: 38%;
}

.image3{
	position: absolute;
	top: 15%;
	left: 66%;
}

.image4{
	position: absolute;
	top: 55%;
	left: 10%;
}

.image5{
	position: absolute;
	top: 55%;
	left: 38%;
}

.image6{
	position: absolute;
	top: 55%;
	left: 66%;
}

.top{
	margin-top: 10px;

}
p{	
	margin-left: 55px;
	margin-top: -15px;
	font-size: 20px;
	font-family: "Roboto";
	color: white;
}

.logo {
    width: 10%;
    display: block;
    position: absolute;
    top: 2%;
    left: 1%;

}

.about{
	display: block;
	position: absolute;
    bottom: 2%;
    left: 1%;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

.baki{
	display: block;
	margin: auto;
	margin-top: 1%;
	text-align: center;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

.soerat{
	display: block;
	position: absolute;
    top: 2%;
    right: 2%;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

