div{
	width: 25%;
	height: 34%;
	background-color: #1A1919;
	border-radius: 15px;
	box-shadow: 10px 10px rgb(0 0 0 /0.8);
}

.container{
	display: block;
	margin: auto;
	margin-left: 10%;
	margin-top: 4%;
	width:  80%;
	height: 60%;
	border-radius: 5px;
	object-fit: cover;
	align-content:  center;
	object-position: center;
	box-shadow: 10px 10px rgb(0 0 0 /0.1);
}

.image1{
	position: absolute;
	top: 15%;
	left: 10%;
}

.image2{
	position: absolute;
	top: 15%;
	left: 38%;
}

.image3{
	position: absolute;
	top: 15%;
	left: 66%;
}

.image4{
	position: absolute;
	top: 55%;
	left: 10%;
}

.image5{
	position: absolute;
	top: 55%;
	left: 38%;
}

.image6{
	position: absolute;
	top: 55%;
	left: 66%;
}

.top{
	margin-top: 10px;

}
p{	
	margin-left: 10%;
	margin-top: -3%;
	font-size: 130%;
	font-family: "Roboto";
	color: white;
}
.modal{
	display: none;
}

