div{
	width: 25%;
	height: 34%;
	background-color: #1A1919;
	border-radius: 15px;
	box-shadow: 10px 10px rgb(0 0 0 /0.8);
}

.modal-container{
	width: 80%;
	height: 80%;
	background-color: #1A1919;
	border-radius: 10px;
	margin: auto;
	/*box-shadow: 10px 10px rgb(0 0 0 /0.8);*/
}

.modal-content {
	position: relative;
	top: 3%;
	left: 2%;
	display: block;
	width: 80%;
	max-width: 47%;
	max-height: 93%;
	object-fit: scale-down;
}

.deskripsigambar{
	margin-left: 0%;
	margin-top: 0%;
	position: absolute;
	top: 12%;
	left: 50%;
	display: block;
	width: 80%;
	max-width: 38%;
	text-align: justify;
	color: #ccc;
	padding: 10px 0;
}

.caption { 
	margin-left: 0%;
	margin-top: 0%;
	position: absolute;
	top: 20%;
	left: 50%;
	display: block;
	width: 80%;
	max-width: 38%;
	text-align: justify;
	color: #ccc;
	padding: 10px 0;

}

.container{
	display: block;
	margin: auto;
	margin-left: 10%;
	margin-top: 4%;
	width:  80%;
	height: 60%;
	border-radius: 5px;
	object-fit: cover;
	align-content:  center;
	object-position: center;
	box-shadow: 10px 10px rgb(0 0 0 /0.1);
	cursor: pointer;
	transition: 0.3s;
}

.container:hover {opacity: 0.7;}

.image1{
	position: absolute;
	top: 15%;
	left: 10%;
}


.image2{
	position: absolute;
	top: 15%;
	left: 38%;
}

.image3{
	position: absolute;
	top: 15%;
	left: 66%;
}

.image4{
	position: absolute;
	top: 55%;
	left: 10%;
}

.image5{
	position: absolute;
	top: 55%;
	left: 38%;
}

.image6{
	position: absolute;
	top: 55%;
	left: 66%;
}

.reportcs {
	margin-top: -45px;
	margin-left: 400px;
	display: block;
	cursor: pointer;
	font-family: "vogue";
	background-color: transparent;
	color: #F75052;
	border: none;
} 
.reportcs:hover {
	filter: drop-shadow(0 0 0.75rem rgb(255, 0, 0));

}

a:link {text-decoration: none}


.top{
	margin-top: 10px;
}
p{	
	margin-left: 10%;
	margin-top: -3%;
	font-size: 130%;
	font-family: "vogue";
	color: white;
}

/*MODAL Starts From here*/
.modal{
	display: none; 
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 5%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

.modal-content, .caption ,.deskripsigambar{  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  }*/


