
.homeimg{
	width: 60%;
    display: block;
    margin: auto;
}

p{
	font-family: "Freehand";
    color: white;
    font-size: 220%;
    text-align: center;
}

.welcome{
    left: 15%;
    /*margin-top: -10%;*/
    pointer-events: none;
    position: absolute;
	display: block;	
	margin: auto;
	margin-top: -3%;	
}