
.homeimg{
	width: 55%;
    display: block;
    position:absolute;
    left: 22%;
    top: 21%;
}

p{
	font-family: "vogue";
    color: white;
    font-size: 280%;
    text-align: center;
}

.welcome{
    left: 15%;
    /*margin-top: -10%;*/
    pointer-events: none;
    position: absolute;
	display: block;	
	margin: auto;
	margin-top: -3%;	
}