@font-face {
    font-family: arialn;
    src: url(fonts/ARIALN.TTF);

}

@font-face {
    font-family: Freehand;
    src: url(fonts/freehand.TTF);
}

body {
	background-image: url("images/background.png");
	background-size: cover;
}

.logo {
    width: 10%;
    display: block;
    position: absolute;
    top: 2%;
    left: 1%;

}

.about{
	display: block;
	position: absolute;
    bottom: 2%;
    left: 1%;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

.baki{
	display: block;
	margin: auto;
	margin-top: 1%;
	text-align: center;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

.soerat{
	display: block;
	position: absolute;
    top: 2%;
    right: 2%;
    font-family: "Freehand";
    color: white;
    font-size: 40px;
}

.homeimg{
	width: 750px;
    display: block;
    margin: auto;
}

p{
	font-family: "Freehand";
    color: white;
    font-size: 40px;
    text-align: center;
}

.welcome{
	display: block;	
	margin: auto;
	/*margin-top: -45%;	*/
}